$primary-color: #444;
$secondary-color: #eece1a;
$tertiary-color: #3498db;
$show-home-image: true;
$home-image: url("../assets/images/backgrounds.jpg");
$background-opacity: 0.5;
$my-image: url("../assets/images/mypicture.jpg");
$my-image-mobile: url("../assets/images/portrait_small.jpg");
$font-family: 'Eczar',
serif;