// margins

.u-big-top-margin {
    margin-top: 20vh;
}


.u-sm-bottom-margin {
    margin-bottom: 2rem;
}

.u-color {
    color: $secondary-color;
}

.u-text-align-center {
    text-align: center;
}

.u-xs-bottom-margin {
    margin-bottom: 1rem;
}

.u-xs-margin-right {
    margin-right: 1rem;
}

.u-xs-margin-top {
    margin-top: 3rem;
}

// text
.u-text-red {
    color: #A41306;
}

.u-text-white {
    color: #fff;
}

.u-text-orange {
    color: #DF5504;

}

.u-text-yellow {
    color: #eece1a;
}

.u-text-blue {
    color: #3498db;
}

.u-text-underline {
    text-decoration: underline;
}


// background

.u-bg-red {
    background-color: #A41306;
}


.u-bg-yellow {
    background-color: #FFBF00;
}

.u-bg-orange {
    background-color: #DF5504;
}

.u-bg-white {
    background-color: #fff;
}

.u-bg-blue {
    background: #3498db;
}